<div class="container">
<form action='/play' method='post'>
  <input type='text' name='username1' placeholder='player1'>
  <input type='password' name='password1' placeholder='password'>
  <input type='text' name='username2' placeholder='player2'>
  <input type='password' name='password2' placeholder='password'>
  <input type='submit' value='Submit!?'>
  
  
  
</form>
</div>
